---
const { mobileHidden } = Astro.props;
---

<div
	class:list={[
		'flex-1 space-y-6 bg-slate-700 bg-opacity-30 backdrop-blur-md text-white rounded-md px-8 py-8 shadow-md',
		{ mobilehidden: mobileHidden },
	]}
>
	<slot />
</div>

<style>
	@media screen and (max-width: 768px) {
		.mobilehidden {
			padding: 0;
			background: transparent;
			backdrop-filter: none;
			box-shadow: none;
		}
	}
</style>
