---
import Layout from "../layouts/Layout.astro"
import EncoderForm from "../components/EncoderForm"
---

<Layout title="abcDECODE">
	<main>
		<EncoderForm client:visible></EncoderForm>
	</main>
</Layout>