---
import Layout from '../layouts/Layout.astro';
import '../components.css';
import PageCard from '../components/studs/PageCard.svelte';
import Card from '../components/studs/Card.astro';
import ProjectCard from '../components/studs/ProjectCard.svelte';

const date = new Date().getFullYear();
---

<Layout title="Carter Reeb">
	<Card mobileHidden>
		<p
			class="mx-2 text-4xl font-black text-indigo-100 sm:text-start text-center mobilehidden"
		>
			My Projects
		</p>

		<div
			class="grid lg:grid-rows-2 lg:grid-cols-3 md:grid-rows-3 md:grid-cols-2"
		>
			<ProjectCard
				title="Chad"
				logoPath="/chad-white-rounded-sq.svg"
				header="Scared of AI yet?"
				color="blue"
				href="/chad"
			>
				An industry-first configurable AGI. Ask it to navigate the internet,
				order you a pizza, or anything you can configure.
			</ProjectCard>
			<ProjectCard
				title="Lateral OS"
				logoPath="/lateral-logo.avif"
				header="That's no command-line."
				color="orange"
				href="https://github.com/carterisonline/lateral"
			>
				A project that taught me Rust and kernel/systems programming all in one
				summer. Boots on x86_64!
			</ProjectCard>
			<ProjectCard
				title="Dolomite"
				logoPath="/dolomite-logo.svg"
				header="Syntatic Clarity in a Box"
				color="indigo"
				href="https://github.com/carterisonline/dolomite"
			>
				A language that combines the style of ML and human syntax conventions.
				Easy enough to be translated to JS by GPT-2.
			</ProjectCard>
			<ProjectCard
				title="Architectury"
				logoPath="/architectury-logo.svg"
				header="Rust's Missing Runtime"
				color="green"
				href="https://github.com/carterisonline/architectury"
			>
				Trying to find the right logger? Green-thread library? RNG? Architectury
				does all of that and more.
			</ProjectCard>
			<ProjectCard
				title="Midnight"
				logoPath="/youtube-logo.svg"
				header="Better for your Eyes"
				color="red"
				href="https://github.com/carterisonline/MidnightTheme"
			>
				My first real dive into CSS. Reverts YouTube back to an older UI style
				with a black background and ambient-mode support
			</ProjectCard>

			<ProjectCard
				title="Rait"
				logoPath="/rait-logo.svg"
				header="Chat with Live Preview"
				color="fuchsia"
				href="https://github.com/carterisonline/rait-frontend"
				wip
			>
				See what your friends are typing in real-time. Powered by the
				industry-standard realtime database Apache Pinot.
			</ProjectCard>
		</div>
	</Card>
</Layout>

<style>
	@media (max-width: 768px) {
		.mobilehidden {
			display: none;
		}
	}
</style>
