---
import LinkButton from '../components/studs/LinkButton.svelte';
const date = new Date().getFullYear();

const { ischad } = Astro.props;
---

<footer
	class:list={[
		'backdrop-blur-md w-full md:w-fit self-center px-12 py-4 rounded-2xl shadow-2xl text-center text-slate-200',
		{
			'text-white backdrop-brightness-50 border border-white border-2': ischad,
		},
	]}
>
	<p>
		Copyright ©
		<time datetime="{date}">{date}</time>
		Carter Reeb.
	</p>
	<p class="mb-4">
		This page is free software licensed under the
		<a
			href="https://www.gnu.org/licenses/gpl-3.0.en.html"
			class:list={[ischad ? 'text-indigo-300' : 'text-indigo-500', 'underline']}
			>GNU GPL 3.0 license.</a
		>
	</p>

	<div class="flex items-center">
		<LinkButton
			href="https://github.com/carterisonline/carteris.online"
			client:visible
		>
			View and copy my source code
		</LinkButton>
	</div>
</footer>
