---
import '../components.css';
import Splash from './Splash.astro';
import SiteLogoNav from './SiteLogoNav.svelte';

const { icon, isdarker, ischild } = Astro.props;
---

<header
	class:list={[
		'fixed sm:top-4 top-2 sm:py-6 sm:px-8 p-3 sm:left-8 left-3 text-white bg-slate-700 bg-opacity-60 rounded-md z-40 backdrop-blur-md shadow-2xl row justify-between space-x-20 scroll-bg-dark',
		{ isdarker: isdarker },
		{ ischild: ischild },
	]}
	id="navbar"
>
	<div class="col">
		<SiteLogoNav client:visible icon={icon} />
		<div class="w-full text-indigo-300 text-xs -mt-4">
			<Splash />
		</div>
	</div>
</header>

<style lang="postcss">
	.scroll-bg-dark {
		border: 1px solid transparent;
		transition: all 250ms;
	}

	.scroll-bg-dark:not([data-scroll]):not(.ischild) {
		transform: translateY(-3em) scale(1.3);
		box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	}

	.scroll-bg-dark[data-scroll='1'] {
		margin-left: 1em;
		border: 1px solid #fff8;
		backdrop-filter: contrast(2) saturate(2) brightness(3) blur(1em) brightness(0.5);
	}

	.isdarker {
		outline: 1px solid #fff8;
		backdrop-filter: brightness(0.1) saturate(10)
	}
</style>

<script>
	function storeScroll() {
		document.getElementById('navbar').dataset.scroll =
			window.scrollY > 60 ? 1 : 0;
	}

	document.addEventListener('scroll', storeScroll, { passive: true });
	storeScroll();
</script>
