---
import '../components.css';
import Splash from './Splash.astro';
import SiteLogoNav from './SiteLogoNav.svelte';

const { icon } = Astro.props;
---

<div
	class="col items-center fixed sm:top-4 top-2 sm:py-6 sm:px-8 p-3 bottom-fit sm:left-8 left-3 sm:right-8 right-3 text-white bg-slate-700 bg-opacity-60 rounded-md z-40 backdrop-blur-md shadow-xl"
>
	<div class="w-full row justify-between">
		<div class="col">
			<SiteLogoNav client:visible />
			<div class="w-full text-indigo-300 text-xs -mt-2">
				<Splash />
			</div>
		</div>
		<div class="col justify-center">
			{icon && <img class="sm:h-10 h-8" src={icon} />}
		</div>
	</div>
</div>
