---
import NavBar from '../components/NavBar.astro';
import LinkButton from '../components/studs/LinkButton.svelte';
import '../patterns.css';

const { title, icon } = Astro.props;
const date = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans m-0 p-0 h-screen pattern-topography">
		<div
			class="col stretch space-y-8 sm:pt-32 pt-24 sm:px-8 px-3 h-full w-full items-stretch pb-16"
		>
			<div class="grow">
				<slot />
			</div>
			<div
				class="flex-none backdrop-blur-md w-fit self-center px-12 py-4 rounded-2xl shadow-2xl text-center text-slate-400"
			>
				Copyright © {date} Carter Reeb.
				<div class="mb-4">
					This page is free software licensed under the <a
						href="https://www.gnu.org/licenses/gpl-3.0.en.html"
						class="text-indigo-500 underline">GNU GPL 3.0 license.</a
					>
				</div>

				<LinkButton
					href="https://github.com/carterisonline/carteris.online"
					client:visible
				>
					View and copy my source code
				</LinkButton>
			</div>
		</div>
		<NavBar icon={icon} />
	</body>
</html>
