---
import NavBar from '../components/NavBar.astro';

const { title, icon } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans bg-slate-800 m-0 p-0 h-screen">
		<div class="sm:pt-32 pt-24 sm:px-8 px-3">
			<slot />
		</div>
		<NavBar icon={icon} />
	</body>
</html>
