---
import Attribution from '../components/Attribution.astro';
import Head from '../components/Head.astro';
import NavBar from '../components/NavBar.astro';
import LinkButton from '../components/studs/LinkButton.svelte';
import '../patterns.css';

const { title, icon, ischild } = Astro.props;
const date = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} />
	<body class="font-sans m-0 p-0 h-screen pattern-topography">
		<NavBar icon={icon} ischild={ischild} />
		<div
			class="col items-stretch justify-start space-y-8 pt-24 pb-16 px-3 sm:px-8 sm:pt-32 h-full w-full"
		>
			<main class="grow">
				<!-- Insert main content here -->
				<slot />
			</main>
			<Attribution />
		</div>
	</body>
</html>
