---
import NavBar from "../components/NavBar.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans bg-slate-800 m-0 p-0 h-screen">
		<div class="pb-16"></div>
		<slot />
		<NavBar></NavBar>
	</body>
</html>
